config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:float" name="train"/>
        <xs:element type="xs:float" name="eval"/>
        <xs:element type="xs:float" name="test"/>
        <xs:element type="xs:byte" name="samplingRate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>